watch_file nix/*
env="$(nix-build ./nix -A env --no-out-link)"

PATH_add "${env}/bin"

# source .profile from `$env`.
# This is only used to set things interpolated by nix.
# All *static* things should live inside .envrc.
[[ -f "${env}/.profile" ]] && source_env "${env}/.profile"

